


.your_own_class {
  color: red;
}
#header.navbar .navbar-header-mar {
  background-color: #dadada;
}

.navbar-btn-my{
    border-radius: 0;
    border: 2px solid #8ac448;
    margin-top: 25px;
    margin-left: 5px;
}
.navbar-btn-myy{
  border-radius: 0;
  border: 2px solid #cfd9db;
  margin-top: 25px;
  margin-left: 5px;
}

/* ----------------------------
 *
 * Template Sidebar - screen-sm and up
 *
 * --------------------------- */

@media (min-width: 768px) {
  #header.navbar .navbar-header > .navbar-brand > img {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
  }
  .frontend #header.navbar .navbar-header > .navbar-brand > img {
    /*height: 90px;*/
    margin-top: 5px;
    width: 100%;
  }
}

/* Sidebar minimized  */
.sidebar-minimized #header.navbar .navbar-header > .navbar-brand,
.screen-sm #header.navbar .navbar-header > .navbar-brand {
  width: 224px;
}

@media (min-width:287px)  {
  #header.navbar .navbar-header > .navbar-brand > img {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
  }
  .frontend #header.navbar .navbar-header > .navbar-brand > img {
    /*height: 90px;*/
    margin: 10px auto;
    width: 230px;
  }
  .navbar-btn-my{
      border-radius: 0;
      border: 2px solid #8ac448;
      margin-top: 5px;
      margin-left: 5px;
  }
  .navbar-btn-myy{
    border-radius: 0;
    border: 2px solid #cfd9db;
    margin-top: 5px;
    margin-left: 5px;
  }
}
@media (min-width:481px)  {
  #header.navbar .navbar-header > .navbar-brand > img {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
  }
  .frontend #header.navbar .navbar-header > .navbar-brand > img {
    /*height: 90px;*/
    margin: 10px auto;
    width: 230px;
  }
  .navbar-btn-my{
      border-radius: 0;
      border: 2px solid #8ac448;
      margin-top: 25px;
      margin-left: 5px;
  }
  .navbar-btn-myy{
    border-radius: 0;
    border: 2px solid #cfd9db;
    margin-top: 25px;
    margin-left: 5px;
  }
}
@media (min-width:760px)  {
    #header.navbar .navbar-header > .navbar-brand > img {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
  }
  .frontend #header.navbar .navbar-header > .navbar-brand > img {
    /*height: 90px;*/
    margin: 10px auto;
    width: 230px;
  }
}
@media (min-width:961px)  {

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }